<div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">财务管理</a>
                <a>
                    <cite>{$cate}日志</cite></a>
            </span>
  <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()"
     title="刷新">
    <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
  </a>
</div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body ">
          <form class="layui-form layui-col-space5">
            <div class="layui-input-inline layui-show-xs-block">
              <input type="text" name="keyword" placeholder="关键词" autocomplete="off" class="layui-input"></div>
            <div class="layui-input-inline layui-show-xs-block">

              <select name="t">
                <option>=类型=</option>
                <option value="consume"
                <?php if($t=='consume'):?> selected="selected"<?php endif;?>>消费</option>
                <option value="recharge"
                <?php if($t=='recharge'):?> selected="selected"<?php endif;?>>充值</option>
              </select>
            </div>
            <div class="layui-input-inline layui-show-xs-block">
              <button class="layui-btn" lay-submit="" lay-filter="search">
                <i class="layui-icon">&#xe615;</i></button>
              <input type="hidden" name="r" value="{$_GET['r']}">
              <input type="hidden" name="t" value="{$_GET['t']}">
            </div>
          </form>
        </div>
        <div class="layui-card-header">
          <blockquote class="layui-elem-quote">{$cate}总计:{$total}元</blockquote>
        </div>
        <div class="layui-card-body ">
          <table class="layui-table layui-form">
            <thead>
            <tr>
              <th>时间</th>
              <th>用户</th>
              <th>类型</th>
              <th>优惠</th>
              <th>详情</th>
              <th>账户</th>
              <th>备注</th>

            </tr>
            </thead>
            <tbody>
            <!--loop{$list as $vo}-->
            <tr>
              <td>{$vo.add_time}</td>
              <td>{high_light($vo.user.name, $keyword)}</td>
              <td>{$vo.action}</td>
              <td>{$vo.profit??'0'}折</td>
              <td>
                <!--if{$vo.state == 1 || $vo.state == 3}-->
                <span class="layui-word-aux">{$vo.action}:</span>{$vo.money} 元 <br>
                <!--{/if}-->
                <!--if{$vo.state == 2 || $vo.state == 4}-->
                <span class="layui-word-aux">{$vo.action}:</span>{$vo.num} 次 <br>
                <!--{/if}-->
              </td>
              <td>
                <span class="layui-word-aux">余额:</span>{$vo.account}元<br>
                <span class="layui-word-aux">次数:</span>{$vo.remain_num}次
              </td>
              <td>
                {$vo.remark??'暂无备注'}
              </td>

            </tr>
            <!--{/loop}-->
            </tbody>
          </table>
        </div>
        {$page}
      </div>
    </div>
  </div>
</div>
<script>
    layui.use(['laydate', 'form'],
        function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

</script>
